.container__videos {
    padding: 100px 100px 100px 100px;
    background: var(--main_color);
    max-width: 1300px;
    height: 100%;
    margin: auto;
    
}

.videos {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.videos video {
    max-width: 500px;
    height: 400px;
    box-shadow: 10px 10px 10px #c0c0c0;
    border-radius: 5px;
}

.videos video:hover {
    max-width: 530px;
    height: 430px;
    transition: 300ms;
    opacity: 0.8;
    cursor: pointer;
}

.container__videos h1 {
    font-size: var(--text_title-size);
    padding-bottom: 60px;
    text-align: center;
}


@media(max-width:1200px){
    .container__videos{
        padding: 0;
    }
    .videos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
    }
    .videos video{
        margin:auto;
    }
    
}

@media(max-width:600px){ 
 
   .videos video{
    width: 200px;
    height: 300px;
   }
   .videos video:hover {
    width: 230px;
    height: 330px;
}
}

@media(max-width:480px){
   .videos{
        grid-template-columns: repeat(1, 1fr);
    }

    .videos video{
        width: 160px;
        height: 300px;
        padding-bottom: 20px;
        box-shadow: none;
    }
    .videos video:hover {
        width: 170px;
        height: 310px;
    }
}

@media(max-width:360px){
    .container__videos h1{
        font-size: 40px;
        padding-bottom: 30px;
    }
}

@media(max-width:220px){
    .container__videos h1{
        font-size: 20px;
    }
    .videos video{
        width: 70px;
        height: 210px;
    }
}
